.board {
  margin: auto;
}

.table {
  display: table;
  width: 440px;
  margin: auto;
}

.gameInfo {
  display: table-row;
}

.score {
  color: white;
  display: table-cell;
  width: 25%;
  text-align: left;
}

.level {
  color: white;
  display: table-cell;
  width: 50%;
  text-align: center;
}

.lives {
  color: white;
  display: table-cell;
  width: 25%;
  text-align: right;
}

.mobile {
  display: none;
}

@media only screen and (max-device-width: 1024px) {
  .mobile {
    display: inline;
  }
}
