.title-pic {
  margin: auto;
  width: 65%;
}

.register {
  font-size: 20pt;
}

.input-name {
  font-size: 14pt;
  border: 2px solid grey;
  border-radius: 4px;
  margin: 20px;
  padding: 4px;
}

.submit-button {
  font-size: 14pt;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}
