.title-gif {
  margin: auto;
  width: 100%;
  max-width: 100vmin;
}

.register,
input,
button {
  font-size: 3vmin;
}

input,
button {
  border-radius: 0.5vmin;
  padding: 0.3vmin;
}

input {
  border: 0.3vmin solid grey;
  margin: 1vmin;
}

button {
  border: 0.3vmin solid #ccc;
  cursor: pointer;
}

.name-error {
  color: rgb(251, 72, 72);
}

.instructions {
  color: white;
  margin: auto;
  padding: 2vmin;
}
