.board {
  margin: auto;
  width: 100%;
}

.table {
  display: table;
  width: 80%;
  margin: auto;
}

.game-info {
  display: table-row;
}

.score {
  color: white;
  display: table-cell;
  width: 30%;
  text-align: left;
}

.level {
  color: white;
  display: table-cell;
  width: 40%;
  text-align: center;
}

.lives {
  display: table-cell;
  width: 30%;
  text-align: right;
}

.life-one,
.life-two {
  width: 5vmin;
}

.life-one {
  margin-right: 2vmin;
}

.dpad {
  display: none;
}

@media only screen and (max-device-width: 1024px) {
  .dpad {
    display: inline;
  }

  .up,
  .left,
  .right,
  .down {
    cursor: pointer;
  }
}
