.game {
  margin: auto;
}

.table {
  display: table;
  width: 90%;
  margin: auto;
}

.game-info {
  display: table-row;
}

.score,
.level,
.lives {
  color: white;
  display: table-cell;
}

.score,
.lives {
  width: 35%;
}

.score {
  text-align: left;
}

.level {
  width: 30%;
  text-align: center;
}

.lives {
  text-align: right;
}

.life-one,
.life-two {
  width: 3vmin;
}

.life-one {
  margin-right: 2vmin;
}

.board {
  margin: auto;
  width: 100%;
}

.dpad {
  display: none;
}

@media only screen and (min-device-width: 1024px) {
  .game {
    height: 90vh;
    aspect-ratio: 900 / 1050;
  }
}

@media only screen and (max-device-width: 1024px) {
  .dpad {
    display: inline;
  }

  .up,
  .left,
  .right,
  .down {
    cursor: pointer;
  }
}
