h4 {
  color: white;
}

.list {
  margin: auto;
  background-color: rgb(15, 15, 70);
  margin-bottom: 20px;
  font-size: 14pt;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr:nth-child(odd) {
  background-color: rgb(41, 34, 101);
}

.rank-header,
.name-header,
.score-header {
  background-color: rgb(30, 53, 92);
  color: white;
}

.name-header,
.name {
  text-align: left;
  width: 300px;
}

.rank-header,
.rank {
  padding-right: 50px;
}

.entry {
  color: yellow;
}

.buttons {
  margin: auto;
  width: 400px;
}

.play-again {
  float: left;
}

.change-player {
  float: right;
}

button {
  font-size: 16pt;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

@media only screen and (max-device-width: 1024px) {
  .buttons {
    width: 90%;
  }
}
